@import url("common.css");
@import url("side_menu.css");
main ul {
    margin-top: 1em;
}

main li {
    font-size: 1.15em;
    margin-bottom: 1em;
}

iframe {
    margin: auto;
    height:700px;
    width:80%;
    zoom: 0.9;
}

.classroom {
    margin-top: 6em;
    margin-bottom: 1em;
    clear: both;
    overflow: hidden;
}

.classroom img {
    float: left;
    margin-right: 2.5em;
}

.classroom p {
    font-size: 1.15em;
}

.dropdown_content{
    display: none;
}

button{
    padding: 8px;
    margin-bottom: 3px;
    background-color: rgb(225, 225, 225);
    font-size: 15px;
    border-radius: 5px;
    border-color: rgb(119, 0, 0);
}

button:hover{
    background-color: rgb(119, 0, 0);
    color: white;
}