@import url("common.css");
@import url("side_menu.css");
@import url("staff_entry.css");

html {
    scroll-behavior: smooth;
   }

#page_anchor a{
    color:black;
}


button{
    padding: 8px;
    margin-bottom: 3px;
    background-color: rgb(225, 225, 225);
    font-size: 23px;
    border-radius: 5px;
    border-color: rgb(119, 0, 0);
}

#page_anchor a:hover{
    color:white;
}

button:hover{
    background-color: rgb(119, 0, 0);
    color: white;
}


